/*Global*/

body,
html {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.outer_div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lane_1 {
  width: 100%;
  height: 20%;
  margin-bottom: 2%;
}

.lane_2 {
  width: 100%;
  height: 25%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.search_div {
  display: flex;
  flex-direction: row;
  width: 43%;
  height: 25%;
}

/*Logo*/

.logo_div {
  width: 20%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 40%;
}

.google_logo {
  width: 99%;
}

/*Search Bar*/

.search_bar_form {
  width: 80%;
  height: 100%;
  margin: 0%;
}

.search_bar_div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#search_bar {
  width: 100%;
  height: 100%;
  border: 1px solid #dfe1e5;
  border-left: none;
  border-right: none;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  outline: none;
}

.search_div:hover {
  /*border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;*/
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.2);
}

/*Search Icon*/
.search_icon_div {
  width: 7%;
  height: 105%;
  border: 1px solid #dfe1e5;
  border-radius: 50% 0% 0% 50%;
  border-right: none;
}

.search_icon {
  position: relative;
  left: 30%;
  top: 18%;
}
